<tr align="rigth">
      
    <div class="profile-container">
      <img src={{header.photoUrl}} alt="Foto de perfil" class="profile-image" [align]="'right'">
      <div class="profile-info">
        <p><i class= "fa-solid fa-circle-user"></i>{{ " " + header.name }}</p>
        <p><i class= "fa-solid fa-paper-plane"></i>{{ " " + header.goalLife }}</p>
        <p><i class= "fa-solid fa-envelope"></i>{{ " " + header.email }}</p>
        <p><i class="fa-solid fa-phone"></i>{{ "     " + header.phoneNumber }}</p>
        <p><i class= "fa-solid fa-location-dot"></i>{{ " " + header.location }}</p>
        <p><i class= "fa-brands fa-instagram"></i>{{ " " + header.socialNetwork }}</p>
      </div>
    </div>
    
  </tr>
